
[user]
	name = Nureddin Bedevi
	email = nureddin.dev@gmail.com
[includeIf "gitdir:dev/roaatech/"]
	path= .gitconfig-roaa
[alias]
	st = status -sb
	ci = commit
	all = commit -am
	br = branch
	co = checkout
	di = diff
	dic = diff --cached
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard

	shoot = push origin --delete
	unstage = reset HEAD --
	prev = checkout -
	discard = checkout --

[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	editor = nvim
	quotepath = false
	excludesfile = /Users/nureddin/.gitignore
	autocrlf = input
[credential]
	helper = osxkeychain
[mergetool]
	keepBackup = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = current
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = false
[rebase]
	autosquash = true
[init]
	defaultBranch = main
[ghq]
	root = ~/dev
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
